/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2016, 1:12:12 PM
    Author     : toli
*/

body {
    background-color: black;
}

/**********************************
/** login box
/**********************************/
.loginMenu {
    text-align: right;
    margin-right: 20px;
}
#logoutbutton {
    color: red;
}
#loginform {
    margin-left: 80%;
}
#userNameInput {
    width: 135px;
}
#userPasswordInput {
    width: 135px;
}

/***********************************
/** Movie row
/**********************************/

.movierow {
    max-height: 100px;
    max-width: 100%;
    display: block;
}

/***********************************
/** Movie boxes
/**********************************/
.moviethumb {
    margin: 2%;
    padding: 0%;
    max-width: 15%;
    float: left;
    display: block;
    
}
.movieImg {
    max-height: 100%;
    max-width: 100%;
    display: block;
}
.movieName {
    color: white;
}
/*movieImg {
}*/