/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2016, 1:12:12 PM
    Author     : toli
*/

body {
    background-color: black;
}

/**********************************
/** login box
/**********************************/
.loginMenu {
    text-align: right;
    margin-right: 20px;
}
#logoutbutton {
    color: red;
}
#loginform {
    margin-left: 80%;
}
#userNameInput {
    width: 135px;
}
#userPasswordInput {
    width: 135px;
}

/***********************************
/** Movie boxes
/**********************************/
.moviethumb {
    margin: 2%;
    max-height: 300px;
    max-width: 300px;
}
.movieImg {
    max-height: 20%;
    max-width: 20%;
}
.movieName {
    color: white;
}
movieImg {
    
    
}